<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'></meta>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <%- include('navbar') %>
        <form action='' method='POST'>
            <h3>Become an Admin</h3>
            <input type='password' name='code' 
                placeholder='Enter admin code'></input>
            <input type='submit' value='Enter'></input>
        </form>
        <p>Don't have an account? <a href='/auth/signup'>Sign up</a></p>
    </body>
</html>
