<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'></meta>
    </head>
    <body>
        <%- include('navbar') %>
        <h1><%= title %></h1>
	<form method='POST' action=''>
            <input type='text' name='name' 
	        required='true' placeholder='Category'
	        value=<%= locals.category ? category.name : '' %> 
	    >
	    <input type='submit' value='Add Category'></input>
        </form>
    </body>
</html>

