<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'></meta>
    </head>
    <body>
	<%- include('navbar') %>
        <h1>Products relating to: <%= category.name %></h1>
	<% if (products.length > 0 ) { %>
            <% for (var i = 0; i < products.length; i++ ) { %>
                <p>
                    <a href=<%= products[i].url %>><%= products[i].name %></a>
                </p>
            <% } %>
	<% } else { %>
	    <p>No products available for this category</p>
	<% } %>
    </body>
</html>
