<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'></meta>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
	<%- include('navbar') %>
        <form action='' method='POST'>
            <h3>Login</h3>
            <input type='email'name='username' placeholder='Email'></input>
            <input type='password' name='password' 
	        placeholder='Password'></input>
	    <input type='submit' value='login'></input>
        </form>
	<p>Don't have an account? <a href='/auth/signup'>Sign up</a></p>
    </body>
</html>

