<ul>
    <li><a href='/products'>Tealinquent</a></li>
    <li><a href='/category'>All Categories</a></li>
    <li>
        <a href='https://hanoelleb.github.io/Tealinquent/'>
            Tea Room Site
        </a>
    </li>
    <li>Cart</li>
</ul>
