<ul class='navbar'>
    <li><a href='/products'><h3>Tealinquent</h3></a></li>
    <li><a href='/category'><h3>All Categories</h3></a></li>
    <li>
        <a href='https://hanoelleb.github.io/Tealinquent/'>
            <h3>Tea Room Site</h3>
        </a>
    </li>
    <li><h3>Cart</h3></li>
    <% if (locals.currentUser) { %>
        <li>
            <a href='/auth/logout'><h3>Logout</h3></a>
        </li>
        <li>
            <a href='/auth/admin'><h3>Admin</h3></a>
        </li>
    <% } else { %>
        <li>
            <a href='/auth/login'><h3>Login</h3></a>
        </li>
    <% } %>
</ul>
