<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'></meta>
    </head>
    <body>
        <h1><%= title %></h1>
	<% for (var i = 0; i < prod_list.length; i++ ) { %>
            <p>
	        <a href=<%= prod_list[i].url %>><%= prod_list[i].name %></a>
	    </p>
	<% } %>
	<p><a href='products/create'>Add new product</a></p>
    </body>
</html>
